# python 3.11.4
# pip show numpy
fastapi[all]=0.109.0
pydantic_settings=2.1.0
lunarcalendar=0.0.9
lunardate=0.2.2
holidays=0.41
loguru=0.7.2
xgboost=2.0.3
lightgbm=4.2.0
pymssql=2.2.11
pandas=1.5.3
numpy=1.24.3
SQLAlchemy=1.4.39
pyodbc=4.0.34
matplotlib=3.7.1
scikit_learn=1.3.0
APScheduler=3.10.4